@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animateSlideInLeft {
  animation: slideInLeft 0.3s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animateSlideInRight {
  animation: slideInRight 0.3s ease-out forwards;
}
